.products-left {
    width: 70%;
    padding-top: 20px;
    border-right: var(--default-borders);
    min-height: var(--initial-product-height);
    display: inline-block;
}
.products-left h2 {
    color: var(--headers-color);
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
}
.p-items {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.product-right {
    width: 30%;
    float: right;
}
.p-date-cont {
    text-align: center;

}
.p-date-cont p {
    font-family: 'Hustle Bright';
    color: var(--headers-color);
    margin-top: 15px;
}
.p-date-cont p > span {
    color: grey;
}